---
import Search from './Search.astro';
---

<header class="site-header">
  <div class="header-content">
    <div class="header-left">
      <a href="/" class="blog-header">
        <img src="/logo.png" alt="Logo" class="blog-logo" />
        <h1>Threads of Thought</h1>
      </a>
    </div>
    <div class="header-right">
      <Search />
    </div>
  </div>
</header>